<ion-card>
    <ion-item>
        <ion-icon name="alert"></ion-icon>
        <ion-button fill="outline" slot="end">Submit Bug Report</ion-button>
    </ion-item>
    <ion-card-header>
        <ion-card-subtitle>ERROR: {{code}}</ion-card-subtitle>
        <ion-card-title>{{title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <p>{{message}}</p>
        <p>
            Please try resarting the application,
            then contact your account manager should the problem continue.
        </p>
    </ion-card-content>
</ion-card>